.container-button{
    padding: 40px;
}

.button{
    background-color: #61E002;
    border: 3px solid #61B800;
    border-radius: 10px;
    color: #05332E;
    width: 165px;
    height: 40px;
    flex-shrink: 0; 
    font-size: 18px;
    gap: 30px;
    font-family: imprima;
    font-weight: 500;
    cursor: pointer;
}

.button:hover{
    background-color: #61B800;
}