.container-table{
    margin: 12% 10%;
}

.tabla{
    display: flex;
    justify-content: center;
    text-align: justify;
    font-size: 18px;
    border: solid 2px;
}

td{
    padding: 10px;
}

.img-tabla{
    width: 80%;
    height: 60%;
}