.container-card{
    display: flex;
    margin: 5% 0 0 3%;
    width: 250px;
    height: 300px;
    border: 2px solid #042856;
    border-radius: 15px;
    display: inline-block;
    padding: 2%;
}

.container-card p{
        font-size: 20px;
        margin: 16px;
}
