body{
    padding: 0;
    margin: 0;
}

.container-registerC{ 
    text-align: center;
}

.titleRC{
    color: #235390;
    margin: 5% 0 3% 0;
}

.nameLabel1{
    margin-right: 25%;
    font-family: imprima;
    font-size: 20px;
    color: #042856;
}

.nameLabel2{
    margin-right: 23%;
    font-family: imprima;
    font-size: 20px;
    color: #042856;
}