.module-img{
    width: 350px;
    height: 300px;
}

.module-card{
    width: 250px;
    height: 200px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.module-card:hover{
    background-color: #61E002;
    border: 5px solid #61B800;
}